@model ASPNETDemo3.Data.Order

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Tạo mới phiếu đặt tiệc</h4>
<hr />
<div class="container">
    <form asp-action="Create">
    <div class="row">
        <div class="col-md-6">
           
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h5>Thông tin người đặt</h5>
                <div class="form-group">
                    <label asp-for="customerName" class="control-label">Khách đặt tiệc</label>
                    <input asp-for="customerName" class="form-control" required/>
                    <span asp-validation-for="customerName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="customerPhone" class="control-label">Số điện thoại khách đặt</label>
                    <input asp-for="customerPhone" class="form-control" />
                    <span asp-validation-for="customerPhone" class="text-danger"></span>
                </div>

        </div>
        <div class="col-md-6">
            <h5>Thông tin tiệc cưới</h5>
            <div class="form-group">
                <label asp-for="groomName" class="control-label">Tên chú rể</label>
                <input asp-for="groomName" class="form-control" />
                <span asp-validation-for="groomName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="brideName" class="control-label">Tên cô dâu</label>
                <input asp-for="brideName" class="form-control" />
                <span asp-validation-for="brideName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ca" class="control-label">Ca</label>
                <select asp-for="ca" class="form-control" required>
                    <option value="Ca sáng (8:00 - 12:00)"> Ca sáng (8:00 - 12:00)</option>
                    <option value="Ca chiều (13:00 - 17:00)"> Ca chiều (13:00 - 17:00)</option>
                    <option value="Ca tối (18:00 - 22:00)"> Ca tối (18:00 - 22:00)</option>
                </select>
                <span asp-validation-for="ca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateAt" class="control-label">Ngày tổ chức</label>
                <input asp-for="dateAt" class="form-control" required type="date"/>
                <span asp-validation-for="dateAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lobbyId" class="control-label">Sảnh</label>
                <select asp-for="lobbyId" class="form-control">
                        @foreach(var lobby in ViewBag.lobbies)
                        {
                            <option value="@lobby.Id">@lobby.Name (tối thiểu @lobby.MinCountTable bàn)</option>            
                        }
                </select>
            </div>
            </div>
        <div class="col-12">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
    </form>
</div>

    
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
